[Unit]
Description=Run OTel Collector in Docker
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
ExecStop=/usr/bin/docker stop %N
ExecStopPost=/usr/bin/docker rm --force %N
ExecStartPre=-/usr/bin/docker rm --force %N
ExecStart=/usr/bin/docker run --name=%N \
{% for key, value in item.get('env', {}).items() %}
    --env={{ key }}={{ value }} \
{% endfor %}
    --network=monitoring \
{% for key, value in item.get('ports', {}).items() %}
    --publish={{ key }}:{{ value }} \
{% endfor %}
    --volume=/:/hostfs:ro,rslave \
    --volume=/etc/otelcol/config.yaml:/etc/otelcol/config.yaml:ro \
    otel/opentelemetry-collector-k8s:{{ otel_collector_version }} \
        --config=/etc/otelcol/config.yaml
