[Unit]
Description=Run Registry Proxy for {{ item.suffix }} in Docker
After=docker.service
Requires=docker.service
After=otel-collector.service
Requires=otel-collector.service

[Service]
Restart=always
RestartSec=5
ExecStop=/usr/bin/docker stop %N
ExecStopPost=/usr/bin/docker rm --force %N
ExecStartPre=-/usr/bin/docker rm --force %N
ExecStart=/usr/bin/docker run --name=%N \
    --env=OTEL_TRACES_EXPORTER=otlp \
    --env=OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317 \
{% for key, value in item.get('env', {}).items() %}
    --env={{ key }}={{ value }} \
{% endfor %}
    --network=monitoring \
{% for key, value in item.get('ports', {}).items() %}
    --publish={{ key }}:{{ value }} \
{% endfor %}
    --volume={{ item.suffix }}:/var/lib/registry \
    --volume=/etc/distribution/config.proxy.yml:/etc/distribution/config.yml:ro \
    registry:{{ registry_version }}
