---
- name: Disable snapd and update packages
  hosts: pi
  become: true
  gather_facts: true

  roles:
    - geerlingguy.docker

  vars:
    packages:
      - name: prometheus-node-exporter
        # renovate: datasource=repology depName=ubuntu_24_04/prometheus-node-exporter versioning=loose
        version: 1.7.0-1ubuntu0.3
      - name: prometheus-node-exporter-collectors
        # renovate: datasource=repology depName=ubuntu_24_04/prometheus-node-exporter-collectors versioning=loose
        version: 0.0~git20231018.f5c56e7-1
      - name: net-tools
        # renovate: datasource=repology depName=ubuntu_24_04/net-tools versioning=loose
        version: 2.10-0.1ubuntu4.4

  tasks:

    - name: Install required packages
      ansible.builtin.package:
        name: "{{ item.name ~ ('=' + item.get('version') if item.get('version') else '') }}"
        state: present
      loop: "{{ packages }}"

    - name: Disable snapd services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: false
        state: stopped
        masked: yes
      loop:
        - snapd
        - snapd.socket
        - snapd.seeded.service
      ignore_errors: true

    - name: Remove snapd package
      ansible.builtin.apt:
        name: snapd
        state: absent
      when: ansible_facts['os_family'] == 'Debian'
