---
- name: Disable snapd and install packages
  hosts: pi
  become: true
  gather_facts: true

  roles:
    - artis3n.tailscale.machine

  vars:
    packages:
      - name: prometheus-node-exporter
        # renovate: datasource=repology depName=ubuntu_24_04/prometheus-node-exporter versioning=loose
        version: "1.7.0-1ubuntu0.3"
      - name: prometheus-node-exporter-collectors
        # renovate: datasource=repology depName=ubuntu_24_04/prometheus-node-exporter-collectors versioning=loose
        version: "0.0~git20231018.f5c56e7-1"
      - name: net-tools
        # renovate: datasource=repology depName=ubuntu_24_04/net-tools versioning=loose
        version: "2.10-0.1ubuntu4.4"

  tasks:

    - name: Install required packages
      ansible.builtin.package:
        name: "{{ item.name ~ ('=' + item.get('version') if item.get('version') else '') }}"
        state: present
      loop: "{{ packages }}"

    - name: Disable snapd services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: false
        state: stopped
        masked: true
      loop:
        - snapd
        - snapd.socket
        - snapd.seeded.service
      ignore_errors: true

    - name: Remove snapd package
      ansible.builtin.apt:
        name: snapd
        state: absent
      when: ansible_facts['os_family'] == 'Debian'

- name: Install systemd services
  hosts: pi
  become: true
  gather_facts: true

  vars:
    services:
      - otel-collector

    configs:
      - src: otel/otelcol-docker.yaml
        dest: /etc/otelcol/config.yaml

    # renovate: datasource=docker depName=otel/opentelemetry-collector-k8s
    otel_collector_version: "0.142.0"

  roles:
    - geerlingguy.docker

  tasks:

    - name: Create config files
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/../../configs/{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: '0644'
      loop: "{{ configs }}"

    - name: Create service files
      ansible.builtin.template:
        src: "{{ playbook_dir }}/../templates/rpi5/services/{{ item }}.service.j2"
        dest: "/etc/systemd/system/{{ item }}.service"
        owner: root
        group: root
        mode: '0644'
      loop: "{{ services }}"

    - name: Enable and start services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: started
        masked: false
      loop: "{{ services }}"
