---
- name: Prepare NVMe drive, mount directories, and disable snapd
  hosts: all
  become: true
  gather_facts: true

  vars:
    nvme_device: /dev/nvme0n1
    mount_root: /mnt/nvme
    mount_points:
      - { path: /opt, subdir: opt }
      - { path: /var/log, subdir: var_log }
      - { path: /var/lib, subdir: var_lib }

  roles:
    - geerlingguy.docker

  tasks:

    - name: Install required packages
      ansible.builtin.package:
        name: e2fsprogs
        state: present

    - name: Create filesystem if not already present
      ansible.builtin.filesystem:
        fstype: ext4
        dev: "{{ nvme_device }}"
      ignore_errors: true

    - name: Create mount root directory
      ansible.builtin.file:
        path: "{{ mount_root }}"
        state: directory

    - name: Mount device to temporary root mount
      ansible.builtin.mount:
        path: "{{ mount_root }}"
        src: "{{ nvme_device }}"
        fstype: ext4
        state: mounted

    - name: Create subdirectories for bind mounts
      ansible.builtin.file:
        path: "{{ mount_root }}/{{ item.subdir }}"
        state: directory
        mode: '0755'
      loop: "{{ mount_points }}"

    - name: Bind-mount subdirectories to final mount points
      ansible.builtin.mount:
        path: "{{ item.path }}"
        src: "{{ mount_root }}/{{ item.subdir }}"
        fstype: none
        opts: bind
        state: mounted
      loop: "{{ mount_points }}"

    - name: Persist bind mounts in /etc/fstab
      ansible.builtin.mount:
        path: "{{ item.path }}"
        src: "{{ mount_root }}/{{ item.subdir }}"
        fstype: none
        opts: bind
        state: present
      loop: "{{ mount_points }}"

    - name: Disable snapd services
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: false
        state: stopped
        masked: yes
      loop:
        - snapd
        - snapd.socket
        - snapd.seeded.service
      ignore_errors: true

    - name: Remove snapd package
      ansible.builtin.apt:
        name: snapd
        state: absent
      when: ansible_facts['os_family'] == 'Debian'
