---
- name: Prepare NVMe drive, mount directories
  hosts: solo
  become: true
  gather_facts: true

  tasks: []

- name: Install KubeSolo
  hosts: solo
  become: true
  gather_facts: true

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    - name: Install core packages
      ansible.builtin.apt:
        name:
          - bash
          - curl
          - iptables
          - libsqlite3-dev
          - sudo
        state: present

