#!/usr/bin/env talhelper genconfig --secret-file ./configs/talos/talsecret.sops.yaml --out-dir ./configs/talos/clusterconfig --config-file

clusterName: mini

# renovate: datasource=docker depName=ghcr.io/siderolabs/talos
talosVersion: "v1.12.4"

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: "v1.35.2"

endpoint: https://192.168.10.10:6443

domain: cluster.local

allowSchedulingOnMasters: false

additionalApiServerCertSans:
  - mini.local

clusterPodNets:
  - 10.244.0.0/16

clusterSvcNets:
  - 10.96.0.0/12

cniConfig:
  name: flannel

patches:
  - "@./patches/ephemeral.yaml"
  - "@./patches/registries.yaml"

controlPlane:
  patches:
    - "@./patches/psp.yaml"

worker: {} # TODO

nodes:
  #############################################################
  #
  # Control-Plane Nodes
  #
  #############################################################
  - hostname: radxa-x4m16-1
    ipAddress: 192.168.1.20
    controlPlane: false
    installDisk: /dev/nvme0
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    patches: []

  #############################################################
  #
  # Worker Nodes (amd64)
  #
  #############################################################
  - hostname: radxa-x4m12-1
    ipAddress: 192.168.1.21
    controlPlane: false
    installDisk: /dev/nvme0
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    patches:
      - "@./patches/storage/node.yaml"

  - hostname: radxa-x4m12-2
    ipAddress: 192.168.1.22
    controlPlane: false
    installDisk: /dev/nvme0
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    patches:
      - "@./patches/storage/node.yaml"

  #############################################################
  #
  # Worker Nodes (aarch64)
  #
  #############################################################
  - hostname: raspberry-pi4b-1
    ipAddress: 192.168.1.23
    controlPlane: false
    installDisk: /dev/sda
    schematic:
      overlay:
        name: rpi_generic
        image: siderolabs/sbc-raspberrypi
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
            - siderolabs/wasmedge
    patches: []

  - hostname: raspberry-pi4b-2
    ipAddress: 192.168.1.24
    controlPlane: false
    installDisk: /dev/sda
    schematic:
      overlay:
        name: rpi_generic
        image: siderolabs/sbc-raspberrypi
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
            - siderolabs/wasmedge
    patches: []

  #############################################################
  #
  # Worker Nodes (riscv64)
  #
  #############################################################
  # - hostname: milkv-mars-cm-lite-1
  #   ipAddress: 192.168.1.25
  #   controlPlane: false
  #   installDisk: /dev/nvme0
  #   schematic:
  #     overlay:
  #       name: milkv-mars
  #       image: siderolabs/sbc-starfive
  #     customization:
  #       systemExtensions:
  #         officialExtensions: []
  #   patches: []
