#!/usr/bin/env talhelper genconfig --secret-file ./configs/talos/talsecret.sops.yaml --out-dir ./configs/talos/clusterconfig --config-file

clusterName: mini

# renovate: datasource=docker depName=ghcr.io/siderolabs/talos
talosVersion: "v1.12.1"

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: "v1.35.0"

endpoint: https://192.168.10.10:6443

domain: cluster.local

allowSchedulingOnMasters: false

additionalApiServerCertSans:
  - mini.local

clusterPodNets:
  - 10.244.0.0/16

clusterSvcNets:
  - 10.96.0.0/12

cniConfig:
  name: none

patches:
  - "@./patches/no-kubeporxy.yaml"
  - "@./patches/ephemeral.yaml"

controlPlane:
  patches:
    - "@./patches/psp.yaml"

worker: {} # TODO

nodes:
  #############################################################
  #
  # Control-Plane Nodes
  #
  #############################################################
  - hostname: radxa-rock5a-1
    ipAddress: 192.168.10.11
    controlPlane: true
    installDisk: /dev/nvme0
    schematic:
      overlay: {} # TODO: Raspberry Pi5B or Radxa Rock Pi5A?
        # name: rock5a
        # image: siderolabs/sbc-rockchip
        # name: rpi_generic
        # image: siderolabs/sbc-raspberrypi
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    patches: []

  #############################################################
  #
  # Storage Nodes
  #
  #############################################################
  - hostname: radxa-x4-1
    ipAddress: 192.168.10.21
    controlPlane: false
    installDisk: /dev/nvme0
    patches:
      - "@./patches/storage/node.yaml"
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools

  - hostname: radxa-x4-2
    ipAddress: 192.168.10.22
    controlPlane: false
    installDisk: /dev/nvme0
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    patches:
      - "@./patches/storage/node.yaml"

  #############################################################
  #
  # Mini-Worker Nodes
  #
  #############################################################
  - hostname: raspberry-pi4b-1
    ipAddress: 192.168.10.31
    controlPlane: false
    installDisk: /dev/sda
    schematic:
      overlay:
        name: rpi_generic
        image: siderolabs/sbc-raspberrypi
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    patches: []

  - hostname: raspberry-pi4b-2
    ipAddress: 192.168.10.32
    controlPlane: false
    installDisk: /dev/sda
    schematic:
      overlay:
        name: rpi_generic
        image: siderolabs/sbc-raspberrypi
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
    patches: []
